<!DOCTYPE html>
<html>
<head>
	<title>First NodeJS Application</title>
	<% include ../partials/header.ejs %>
</head>

<body>
	<div class="container">
		<div class="row">
			<div class="col-12">
				<h1><%=title%></h1>
			</div>
			<div class="col-12">
				<p> Welcome to <%=author%>'s <%=title%> Application</p>
			</div>
		</div>
		<div class="row">
			<div class="col-12">
				<form action="file-upload" method="post" enctype="multipart/form-data">
					<div class="form-group">
						<input type="file" name="filetoupload"><br/><br/>
						<input type="submit">
					</div>
				</form>
			</div>
		</div>
		<hr/>
		<div class="row">
			<div class="col-4">
				<h2>Transactions</h2>
				<ul>
				<% transList.forEach(function(transaction) { %>
					<li><%=transaction['Description']%> | <%=transaction['Amount']%></li>
				<%});%>
				</ul>
			</div>
			<div class="col-8">
				<h2>Graphs</h2>
			</div>
		</div>
	</div>

</body>
</html>