<!DOCTYPE html>
<html>
<head>
	<title>First NodeJS Application</title>
	<% include ../partials/header.ejs %>
</head>

<body>
	<div class="container">
		<h1><%=title%></h1>
		<p> Welcome to <%=author%>'s <%=title%> Application</p>
		<hr/>
		<form action="file-upload" method="post" enctype="multipart/form-data">
			<div class="form-group">
				<input type="file" name="filetoupload"><br/><br/>
				<input type="submit">
			</div>
		</form>
		<ul>
			<% for (var i = 0; i < userList.length; i++) { %>
			<li>
				<a href="/profile/us">Aaron</a>
			</li>
			<%}%>
			<li>
				<a href="/profile/Benjamin">Benjamin</a>
			</li>
			<li>
				<a href="/profile/Chris">Chris</a>
			</li>
		</ul>

		<ul>
			<% userList.forEach(function(item) {
			<li><a href=",<%=item.username%>"><%=item.username%></a></li>
			<%});%>
		</ul>
	</div>

</body>
</html>