<!DOCTYPE html>
<html>
<head>
	<title>First NodeJS Application</title>
	<% include ../partials/header.ejs %>
</head>

<body>
	<script>
		var list = <%- JSON.stringify(transList)%>;
		alert(list[0].Description);
	</script>

	<div class="container-fluid">
		<div class="row">
			<div class="col-12">
				<h1><%=title%></h1>
			</div>
			<div class="col-12">
				<p> Welcome to <%=author%>'s <%=title%> Application</p>
			</div>
		</div>
		<div class="row">
			<div class="col-12">
				<form action="file-upload" method="post" enctype="multipart/form-data">
					<div class="form-group">
    					<input type="file" class="form-control-file" id="exampleInputFile" name="filetoupload" aria-describedby="fileHelp">
   						 <small id="fileHelp" class="form-text text-muted"><br/></small>
						<input type="submit" class="btn btn-primary">
					</div>
				</form>
			</div>
		</div>
		<hr/>
		<div class="row">
			<div class="col-3">
				<ul class="list-group trans-list">
				<h2>Transactions</h2>
				<% transList.forEach(function(transaction) { %>
					<li class="list-group-item"><%=transaction['Description']%> | <%=transaction['Amount']%></li>
				<%});%>
				</ul>
			</div>
			<div class="col-9">
				<h2>Graphs</h2>
			</div>
		</div>
	</div>

</body>
</html>